<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${creator} + '\'s chat'"></title>

        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script src="/js/chat.js"></script>
        <link href="/css/main.css" rel="stylesheet" />

        <script th:inline="javascript">
            var chatId = [[${id}]]
        </script>

        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <noscript
            ><h2 style="color: #ff0000;">
                Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please
                enable Javascript and reload this page!
            </h2></noscript
        >
        <div id="main-content" class="container">
            <div class="mt-5 mb-auto d-flex flex-row">
                <div class="col-2 mr-3">dgdnasogf</div>
                <div class="col-md-6 chat">
                    <div id="messages" class="mb-3 h-100 overflow-auto p-2"></div>
                    <div class="w-100 msg-enter">
                        <form class="form-inline flex-nowrap">
                            <div class="form-group col">
                                <input
                                    type="text"
                                    id="message"
                                    class="form-control w-100"
                                    placeholder="Type message..."
                                />
                            </div>
                            <div class="col">
                                <button id="send" class="btn btn-primary ml-2" type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
